<html>
    <head>
        <title>Randomization Success</title>
    </head>
    <body style="background-color: whitesmoke;">
        <h1 style = 'font-family: sans-serif; text-align: center; margin-top: 2%'>You're gonna be happy about this next time you listen to Spotify...</h1>
        <h3 style = 'font-family: sans-serif; font-weight:200; text-align: center; font-size: 18pt;'>{{playlist + ' has been randomized!'}}</h3>
        <p style = 'font-family: sans-serif; position: absolute; text-align: right; bottom: 1%; right:2%; font-size: 12pt;'>Spotify Randomizer Widget</p>
        <img src = "{{url_for('static', filename = 'Spotify_Logo.png')}}" style="position: absolute; width:10%; height: auto; bottom:2%; left:1%">
    </body>
</html>